body{
    background-color: rgba(233, 233, 233, 0.63);
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{  
    padding: 5px 0px 5px 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(31, 20, 6, 0.856);
    text-shadow: 2px 2px 4px #000;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.308);
}

.banner h1{
    margin: 0px;
}

.infoText{
    margin: 15px;
    width: 65%;
    font-size: 14px;
    padding: 5px 10px 5px 20px;

    border: 1px solid black;
}

.infoText ul{

   padding-left: 10px;
   margin: 0px;
}


.infoText ul li{

    padding: 7px;
 }

#mainForm{
    width: 100%;
    background-color: rgba(233, 233, 233, 0.63);
    border: 3px solid rgba(77, 67, 49, 0.527);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.24);
    height: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 10px;
    margin:10px;
}

.question{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);   
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.219);
    display: flex;
    flex-direction: column;
}

.question h2{
    font-size: 19px; 
    margin: 0px 5px 5px 5px;
}

.question p{
    margin: 5px;   
}


label{
    display: inline-block;
}

.radioContainer{
    display: flex;
    padding-left: 2%;
    margin: 5px 5px 5px 15px;
    padding: 5px;
}

.textboxContainer{
    display: flex;
    padding-left: 2%;
    margin: 5px 5px 5px 15px;
    padding: 5px;
    justify-content: space-between;
    gap: 5px;
}

.textboxContainer input{
    width: 100%;
}

.questionText{   
    background-color: rgba(92, 68, 31, 0.315);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    height: 25%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionText h2{
    display: inline;
    margin: 0px;

}

.questionText p{
    text-align: center;
    display: inline;
    margin: 10px;
}

.question button{
    width: 35%;
    margin: 10px;
}

hr{
    width: 100%;
    margin: 0px;
    color: rgba(0, 0, 0, 0.452);
}


@media screen and (min-width:1280px){

}

@media screen and (max-width:780px){
    body{
        /*background-color: rgba(0, 255, 64, 0.205);*/
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width:600px){
    body{
        /*background-color: rgba(255, 0, 170, 0.205);*/
        padding-left: 0%;
        padding-right: 0%;
    }
}